.auth-body {
  width: 100%;
  position: relative;
  background: var(--color-black);
  min-height: 100vh;

  @include bp(sm) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.auth-nav {
  position: relative;
  flex: none;
}

.auth-nav__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: var(--nav-height);
  width: 100%;
  max-width: 100%;
}

.auth-nav__root {
  color: var(--color-white);
  font-size: var(--font-size-h4);
  height: 100%;
  display: flex;
  align-items: center;
  flex: none;
}

.auth-content {
  flex: 1;
  @include bp(sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.auth-footer {
  flex: none;
  text-align: center;
}

.auth-footer__container {
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
}


//-------------------------
// CARD
//-------------------------
.auth {
  width: 100%;
  max-width: calc(450px + (var(--space-container) * 2));
  margin-right: auto;
  margin-left: auto;
  padding: 24px var(--space-container);
  animation: show .8s 0.05s ease 1 both;

  &--registration {
    max-width: 700px;
  }

  @include bp(sm) {
    padding: 48px var(--space-container);
  }
}

.auth-heading {
  text-align: center;
  margin-bottom: 16px;

  @include bp(sm) {
    margin-bottom: 28px;
  }

  &__subheading {
    margin-top: var(--space-2);
  }
}

.auth-links {
  margin-top: var(--space-3);
  text-align: center;

  &__item + &__item {
    margin-top: var(--space-1);
  }
}

.auth-link {
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-1.5%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



//-------------------------
// FORM
//-------------------------
.auth-form {
  display: block;
  position: relative;
  max-width: 100%;
  width: 100%;
}

.auth-form__row + .auth-form__row {
  margin-top: 16px;
}

.auth-form__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;

  @include bp(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.auth-form__action {
  margin-top: 24px;
}

.auth-form__control {
  width: 100%;
  position: relative;
  display: block;
  padding: 8px var(--space-container);
  color: var(--color-white);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-large);
  background: transparent;
  border: 1px solid rgba(255,255,255,.3);
  border-radius: var(--radius-default);
  box-shadow: none;
  appearance: none;

  @include bp(sm) {
    padding: 16px var(--space-container);
  }

  &:focus {
    border-color: var(--color-white);
  }

  &::placeholder {
    color: var(--color-white-darker);
  }
}

.auth-form__submit {
  color: var(--color-white);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-large);
  letter-spacing: none;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  display: inline-block;
  box-shadow: none;
  border: 1px solid var(--color-accent);
  border-radius: var(--radius-default);
  padding: 8px var(--space-container);
  width: 100%;
  background: var(--color-accent);
  user-select: none;
  appearance: none;
  cursor: pointer;
  white-space: nowrap;
  touch-action: manipulation;
  outline: none;

  &:hover {
    background: var(--color-accent-dark);
    border-color: var(--color-accent-dark);
  }

  @include bp(sm) {
    padding: 16px var(--space-container);
  }
}

.field_with_errors .auth-form__control {
  border-color: var(--color-red);
}

.field_with_errors .error {
  color: var(--color-red);
  display: block;
  padding-top: 4px;
}



