//--------------------
// Appearance
//--------------------
.display-none {
  display: none;
  visibility: hidden;
  opacity: 0;
}



//--------------------
// Text
//--------------------
.display-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}