%section(class="intro")
  %div(class="container")
    %div(class="intro-heading")
      %div(class="intro-heading__heading")
        %h1(class="text text--h2")= params[:q].capitalize
      
      -# - if @photos.suggestions.any?
      -#   %div(class="intro-heading__suggestions")
      -#     %p(class="text text--large text-color-secondary")
      -#       Did you mean: 
      -#       %div= @photos.suggestions.first

      %div(class="intro-heading__tags")
        %div(class="intro-tags")
          %div(class="intro-tags__scroll")
            = render partial: 'tags/tag', collection: @tags


%div{:class => "section", :"data-controller" => "infinite-scroll"}
  %div(class="container container--media")
    %div{:class => "grid grid--photos", :"data-target" => "infinite-scroll.entries"}
      -# = turbo_stream_from "photos"
      -# = turbo_frame_tag "photos" do
      = render @photos

    %div(class="pagination-container" id="PaginationContainer")
      %div{:"data-target" => "infinite-scroll.pagination"}
        != pagy_nav(@pagy)