%section(class="user-tabs")
  %div(class="user-tabs__links")
    %div(class="user-tab")
      = active_link_to user, class: 'user-tab-link', active: :exact do
        %span(class="user-tab-link__icon")= icon "fas", "image"
        %span(class="user-tab-link__name") Works