%section(class="intro")
  %div(class="container")
    %div(class="intro-heading")
      %div(class="intro-heading__heading")
        %h1(class="text text--h2")= t('type.index.heading')
      %div(class="intro-heading__subheading")
        %h2(class="text text--large")= t('type.index.subheading', photos_count: t('type.index.photos_count', count: 23), users_count: t('type.index.users_count', count: 100))

%section(class="section")
  %div(class="container")
    %div(class="grid grid--types")
      = render partial: 'types/type', collection: @types