p, .text {
  color: var(--color-contrast-higher);
	font-weight: 400;
	font-size: var(--text-default);
	vertical-align: baseline;
	overflow-wrap: break-word;
	position: relative;
}

h1,
.text--h1 {
	font-size: var(--font-size-h1);
	font-weight: var(--font-weight-h1);
	line-height: var(--line-height-h1);
	letter-spacing: var(--letter-spacing-h1);
}

h2,
.text--h2 {
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-h2);
	line-height: var(--line-height-h2);
	letter-spacing: var(--letter-spacing-h2);
}

h3,
.text--h3 {
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-h3);
	line-height: var(--line-height-h3);
	letter-spacing: var(--letter-spacing-h3);
}

h4,
.text--h4 {
	font-size: var(--font-size-h4);
	font-weight: var(--font-weight-h4);
	line-height: var(--line-height-h4);
	letter-spacing: var(--letter-spacing-h4);
}

h5,
.text--h5 {
	font-size: var(--font-size-h5);
	font-weight: var(--font-weight-h5);
	line-height: var(--line-height-h5);
	letter-spacing: var(--letter-spacing-h5);
}

h6,
.text--h6 {
	font-size: var(--font-size-h6);
	font-weight: var(--font-weight-h6);
	line-height: var(--line-height-h6);
	letter-spacing: var(--letter-spacing-h6);
}

.text--eyebrow {
	font-size: var(--font-size-body);
	font-weight: var(--font-weight-medium);
	line-height: var(--line-height-body);
	text-transform: uppercase;
	margin-bottom: 8px;
}

.text-size--minor {
	font-size: var(--font-size-minor);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-minor);
	letter-spacing: var(--letter-spacing-minor);
}

.text-size--small {
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-small);
	letter-spacing: var(--letter-spacing-small);
}

.text-size--body {
	font-size: var(--font-size-body);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-body);
	letter-spacing: var(--letter-spacing-body);
}

.text-size--large {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-large);
	letter-spacing: var(--letter-spacing-large);
}



// Font weight
.fw-regular {
	font-weight: var(--font-weight-regular);
}

.fw-medium {
	font-weight: var(--font-weight-medium);
}

.fw-bold {
	font-weight: var(--font-weight-bold);
}



// Positioning
.text-align--center {
	text-align: center;
}

.text-align--left {
	text-align: left;
}

.text-align--right {
	text-align: rigth;
}



// Colors
.text-color--main {
	color: var(--color-contrast-higher) !important;
}

.text-color--secondary {
	color: var(--color-contrast-medium) !important;
}

.text-color--muted {
	color: var(--color-contrast-medium) !important;
}

.text-color--white {
	color: var(--color-white) !important;
}

.text-color--dark {
	color: var(--color-black) !important;
}

.text-color--warning {
	color: var(--color-warning) !important;
}


// Block
.text-paragraph {
	display: block;

	& + & {
		padding-top: 18px;
	}
}



// Elements
.text-icon {
	margin-right: 12px;
}