= render partial: 'users/shared/user', locals: { user: @user }
= render partial: 'users/shared/nav', locals: { user: @user }

%div(class="section")
  %div(class="container container--media")
    %div(class="grid grid--photos")
      -# = turbo_stream_from "photos"
      -# = turbo_frame_tag "photos" do
      = render @photos