-# %section(class="intro root-intro")
-#   %div(class="root-intro-media")
-#   %div(class="root-intro-container")
-#     %div(class="root-intro-footer")
-#       %div(class="root-intro-footer__credit") Art of the day by Anthony Sergeyev
-#       %div(class="root-intro-footer__legal") legal
-#       %div(class="root-intro-footer__ad") advertising

%section{:class => "section", :"data-controller" => "infinite-scroll"}
  %div(class="container container--media")
    %div{:class => "grid grid--photos", :"data-target" => "infinite-scroll.entries"}
      -# = turbo_stream_from "photos"
      -# = turbo_frame_tag "photos" do
      = render @photos

    %div(class="pagination-container" id="PaginationContainer")
      %div{:"data-target" => "infinite-scroll.pagination"}
        != pagy_nav(@pagy)
