= render partial: 'shared/filters-subnav'

- unless user_signed_in?
  %div.intro.intro--centered
    %div.container.container--small
      %div.intro-container
        %div.intro-heading.text-center
          %div.intro-heading__heading
            %h1.text.text--h2 World-wide online gallery.
          %div.intro-heading__subheading
            %p.text.text--large Learn more about the world from anywhere.
          %div.intro-action-group
            %div.intro-action
              %p= link_to "Sign up free", new_user_registration_path, class: 'btn btn--accent'


%section{:class => "section", :"data-controller" => "infinite-scroll"}
  %div.container.container--media
    %div{:class => "grid--photos", :"data-target" => "infinite-scroll.entries"}
      = render @photos

    %div.pagination-container#PaginationContainer
      %div{:"data-target" => "infinite-scroll.pagination"}
        != pagy_nav(@pagy)