.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: var(--container-width-default);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--space-page-padding);
  padding-left: var(--space-page-padding);
}

.container--small {
  max-width: var(--container-width-small);
}

.container--tight {
  max-width: var(--container-width-tight);
}

.container--wide {
  max-width: var(--container-width-wide);
}

.container--media {
  padding-right: 0;
  padding-left: 0;

  @include bp(sm) {
    padding-right: var(--space-page-padding);
    padding-left: var(--space-page-padding);
  }
}