.grid {
  display: grid;
  list-style: none;
  
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.grid--1-3 {
  grid-gap: var(--space-page-padding);
  grid-template-columns: repeat(1, 1fr);
  grid-auto-columns: row;

  @include bp(sm) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid--2-3 {
  grid-gap: var(--space-page-padding);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: row;

  @include bp(sm) {
    grid-template-columns: repeat(3, 1fr);
  }
}



//-------------
// PHOTOS
//-------------
.grid--photos,
.grid--photosRelated {
  position: relative;
  display: block;
  margin: 0;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  @include bp(sm) {
    margin: -12px;
  }
}

.grid--photos .col {
  width: 100%;
  padding: 0;

  @include bp(sm) {
    width: 50%;
    padding: 12px;
  }

  @include bp(md) {
    width: 33.33333%;
  }
}

.grid--photos .col + .col {
  margin-top: 38px;

  @include bp(sm) {
    margin-top: 0;
  }
}

.grid--photosRelated {
  position: relative;
  display: block;
  margin: -6px;
  
  @include bp(sm) {
    margin: -12px;
  } 
}

.grid--photosRelated .col {
  width: 50%;
  padding: 6px;

  @include bp(sm) {
    padding: 12px;
  }

  @include bp(md) {
    width: 33.33333%;
  }
}



//-------------
// TYPE
//-------------
.grid--types {
  grid-template-columns: repeat(1, 1fr);
  grid-auto-columns: row;
  grid-gap: 36px;
  
  @include bp(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include bp(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}



//-------------
// COLUMN
//-------------
.col {
  grid-column-end: span 1;
}