.grid {
  display: grid;
  list-style: none;
}


//-------------
// PHOTOS
//-------------
.grid--photos {
  grid-template-columns: repeat(1, 1fr);
  grid-auto-columns: row;
  grid-row-gap: 40px;

  @include bp(sm) {
    grid-gap: var(--space-container);
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }
}

.grid--photosRelated {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: row;
  grid-gap: var(--space-container);
  
  @include bp(sm) {
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  }
}



//-------------
// CLASSIFICATION
//-------------
.grid--classifications {
  grid-template-columns: repeat(1, 1fr);
  grid-auto-columns: row;
  grid-gap: var(--space-container);
  
  @include bp(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include bp(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}



//-------------
// COLUMN
//-------------
.col {
  grid-column-end: span 1;
}