%section(class="intro")
  %div(class="container")
    %div(class="intro-heading")
      %div(class="intro-heading__heading")
        %h1(class="text text--h2") Classifications
      %div(class="intro-heading__subheading")
        %h2(class="text text--large") Explore the world through topics of beautiful photos free to use under the Unsplash License.

%section(class="section")
  %div(class="container")
    %div(class="grid grid--classifications")
      = render partial: 'classifications/classification', collection: @classifications