- if user_signed_in?
  - if current_user.likes?(photo)
    = link_to photo_like_path(photo), method: :delete, remote: true, class: "photo-card__action" do
      Dislike
  - else
    = link_to photo_like_path(photo), method: :post, remote: true, class: "photo-card__action" do
      Like

- else
  = link_to new_user_registration_path, class: "photo-card__action" do
    Like