.btn {
	color: var(--color-contrast-lower);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  letter-spacing: none;
  line-height: var(--line-height-small);
  text-decoration: none;
  text-transform: none;
  text-align: center;
  display: inline-block;
  padding: var(--space-2) var(--space-2);
  width: auto;
  min-width: 140px;
  border-radius: var(--radius-default);
  border: 1px solid var(--color-contrast-higher);
  background: var(--color-contrast-higher);
  user-select: none;
  appearance: none;
  cursor: pointer;
  white-space: nowrap;
  touch-action: manipulation;
  outline: none;

  &:hover, 
  &:focus,
  &:active, 
  &:focus-within {
    color: var(--color-contrast-lower);
	  background: var(--color-contrast-high);
	  border-color: var(--color-contrast-high);
  }

  & > span + span {
    margin-left: var(--space-xxxs);
  }
}



//-----------------
// Colors
//-----------------
.btn--primary {
  color: var(--color-white);
  background: var(--color-primary);
  border-color: var(--color-primary);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-white);
    background: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
  }
}

.btn--accent {
  color: var(--color-white);
  background: var(--color-accent);
  border-color: var(--color-accent);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-white);
    background: var(--color-accent-dark);
    border-color: var(--color-accent-dark);
  }
}

.btn--light {
  color: var(--color-black);
  background: var(--color-white);
  border-color: var(--color-white);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-black);
    background: var(--color-white-darker);
    border-color: var(--color-white-darker);
  }
}


//-----------------
// ACTION BUTTON
//-----------------
:root {
  --btnAction-shadow: rgba(0,0,0,.04);  
}


.btnAction {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-default);
  position: relative;
  background: none;
  color: var(--color-contrast-medium);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-medium);
  height: 32px;
  line-height: 30px;
  padding: 0 10px;
  box-shadow: 0 1px 1px var(--btnAction-shadow);
  cursor: pointer;

  &:hover {
    color: var(--color-contrast-higher);
  }
}



//-----------------
// Modifications
//-----------------
.btn--small {
  padding: var(--space-xxs) var(--space-xs);
  min-width: auto;
}

.btn--action {
  min-width: 0px;
  padding: var(--space-xxs) var(--space-sm);
}

.btn--wide {
  width: 100%;
}

.btn--responsive {
  width: 100%;

  @include bp(xs) {
    width: auto;
  }
}