.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: var(--radius-default);
  transition: all .1s var(--ease-in-out);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-medium);
  text-align: center;
  user-select: none;
  fill: currentColor;
  text-decoration: none;
}

.btn-iconic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-iconic .btn-icon + .btn-content {
  margin-left: 6px;
}



//****************
// SIZE
//****************
.btn-size--small {
  height: 32px;
  padding: 0 10px;
  font-size: var(--font-size-body);
  line-height: 30px;
}

.btn-size--big {
  height: 44px;
  padding: 0 16px;
  font-size: var(--font-size-body);
  line-height: 42px;
}



//****************
// COLOUR
//****************
.btn-color--contrast {
  color: var(--color-contrast-lower);
  background: var(--color-contrast-higher);

  &:hover {
    color: var(--color-contrast-lower);
    background: var(--color-contrast-high);
  }
}

.btn-color--accent {
  color: var(--color-white);
  background: var(--color-accent);

  &:hover {
    color: var(--color-white);
    background: var(--color-accent-dark);
  }
}



//****************
// TYPE
//****************
.btn-action {
  color: var(--color-contrast-medium);
  background: var(--color-contrast-lower);

  &:hover {
    color: var(--color-contrast-higher);
    background: var(--color-contrast-low);
  }
}

.btn-action--liked {
  color: var(--color-red);
  background: var(--color-red-lighter);

  &:hover {
    color: var(--color-red-dark);
    background: var(--color-red-light);
  }
}

.btn-action--followed {
  color: var(--color-contrast-medium);
  background: var(--color-contrast-lower);

  &:hover {
    color: var(--color-contrast-higher);
    background: var(--color-contrast-low);
  }
}

.btn-action--followed {
  color: var(--color-contrast-medium);
  background: var(--color-contrast-lower);

  &:hover {
    color: var(--color-)
  }
}


// card buttons
.btn-card {
  color: var(--color-contrast-medium);
  font-size: var(--font-size-large);
  line-height: 20px;
  border: none;

  &:hover {
    color: var(--color-contrast-higher);
    background: var(--btn-card-background-hover);
  }
}

.btn-card--liked {
  color: var(--color-red);

  &:hover {
    color: var(--color-red-dark);
  }
}


// transparent background -> url buttons
.btn-url {
  color: var(--color-contrast-medium);
  background: transparent;
  box-shadow: none;

  &:hover {
    color: var(--color-contrast-higher);
    background: var(--color-contrast-low);
  }
}