:root {
  --btn-shadow: rgba(0,0,0,.05);
  --btn-card-background: rgba(255,255,255,.85);
  --btn-card-background-hover: rgba(255,255,255,1);
}

@supports(--css: variables) {
  body {
    @media (prefers-color-scheme: dark) {
      --btn-shadow: rgba(255,255,255,.05);
      --btn-card-background: rgba(0,0,0,.85);
      --btn-card-background-hover: rgba(0,0,0,1);
    }
  }
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: var(--radius-default);
  box-shadow: 0 1px 1px var(--btn-shadow);
  transition: all .1s var(--ease-in-out);
  text-align: center;
  user-select: none;
  fill: currentColor;
  text-decoration: none;
}

.btn-iconic {
  display: flex;
  align-items: center;
}

.btn-iconic .btn-icon + .btn-content {
  margin-left: 6px;
}



//****************
// SIZE
//****************
.btn--small {
  height: 32px;
  padding: 0 10px;
  font-size: var(--font-size-body);
  line-height: 30px;
}

.btn--big {
  height: 44px;
  padding: 0 16px;
  font-size: var(--font-size-body);
  line-height: 42px;
}



//****************
// COLOUR
//****************
.btn--contrast {
  color: var(--color-contrast-lower);
  background: var(--color-contrast-higher);

  &:hover {
    color: var(--color-contrast-lower);
    background: var(--color-contrast-high);
  }
}

.btn--accent {
  color: var(--color-white);
  background: var(--color-accent);

  &:hover {
    color: var(--color-white);
    background: var(--color-accent-dark);
  }
}



//****************
// TYPE
//****************
.btn--action {
  color: var(--color-contrast-medium);
  border-color: var(--color-border-default);
  background: var(--color-bg);

  &:hover {
    color: var(--color-contrast-higher);
    border-color: var(--color-border-dark);
  }
}

.btn--action--liked {
  color: var(--color-white);
  background: var(--color-red);
  border-color: var(--color-red);

  &:hover {
    color: var(--color-white);
    background: var(--color-red-dark);
    border-color: var(--color-red-dark);
  }
}


// card buttons
.btn--card {
  color: var(--color-contrast-medium);
  background: var(--btn-card-background);
  border-color: var(--color-border-default);

  @include bp(sm) {
    border-color: transparent;
  }

  &:hover {
    color: var(--color-contrast-higher);
    background: var(--btn-card-background-hover);
    border-color: var(--color-border-dark);

    @include bp(sm) {
      border-color: transparent;
    }
  }
}

.btn--card--liked {
  color: var(--color-white);
  background: var(--color-red);
  border-color: var(--color-red);

  &:hover {
    color: var(--color-white);
    background: var(--color-red-dark);
    border-color: var(--color-red-dark);
  }
}


// transparent background -> url buttons
.btn--url {
  color: var(--color-contrast-medium);
  background: transparent;
  box-shadow: none;

  &:hover {
    color: var(--color-contrast-higher);
    background: var(--color-contrast-low);
  }
}