.category {
  position: relative;
  display: block;
  user-select: none;
  border: 1px solid var(--color-border-default);
  overflow: hidden;
  border-radius: var(--radius-default);
  height: 100%;
}

.category-cover {
  position: relative;
  padding-bottom: 30%;
  display: block;

  & > img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }
}

.category-heading {
  padding: 16px 20px 20px;
  position: relative;
  text-align: left;
  display: block;

  @include bp(md) {
    padding: 24px 32px;
  }
}

.category-heading__subheading {
  padding-top: 8px;
}

.category-heading__stats {
  padding-top: 8px;

  & > span + span {
    padding-left: 8px;
  }
}