//*************************
// SUBNAV FILTER
//*************************
.filter-subnav {
  position: relative;
  display: block;
  width: 100%;
  max-width: var(--container-width-default);
  margin: 0 auto;
  background: var(--color-bg);
  padding-right: var(--space-page-padding);
  padding-left: var(--space-page-padding);

  @include bp(sm) {
    padding-right: var(--space-page-padding);
    padding-left: var(--space-page-padding);
  }
}

.filter-subnav .filter-categories {
  height: var(--nav-height);
  width: 100%;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-right: -12px;

  @include bp(sm) {
    margin-right: -24px;
  }
}

.filter-subnav .filter-categories .category {
  position: relative;
  height: 100%;

  & + .category {
    padding-left: 12px;

    @include bp(sm) {
      padding-left: 24px;
    }
  }
}

.filter-categories .category a {
  color: var(--color-contrast-medium);
  font-size: var(--font-size-minor);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-minor);
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &.active {
    color: var(--color-contrast-higher);
    text-decoration: underline;
  }
}