.intro {
  position: relative;
  display: block;
}

.intro-container {
  position: relative;
  display: block;
  padding-top: 48px;
  padding-bottom: 48px;

  @include bp(sm) {
    padding-top: 60px;
    padding-bottom: 72px;
  }
}

.intro-heading {
  display: block;
}

.intro-heading__heading,
.intro-heading__subheading {
  display: block;
}

.intro-heading__subheading {
  margin-top: 16px;
  max-width: var(--container-width-tight);
}

.intro-heading.text-center > .intro-heading__subheading {
  margin: 16px auto 0 !important;
}

.intro-action-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -12px;
}

.intro-action {
  padding: 12px;
}

.intro-heading.text-center > .intro-action-group {
  justify-content: center;
}