.link {
  color: inherit;
  font-weight: var(--text-weight-medium);
	text-decoration: none;
  text-transform: inherit;
  display: inline-flex;
  align-items: center;
  transition: color .1s var(--ease-in-out);
  text-decoration-skip-ink: auto;

  &:hover {
  	text-decoration: underline;
  }
}

.link-iconic {

  & .link-icon {
    width: 16px;
    text-align: center;
    vertical-align: middle;
    transition-property: fill;
    transition-duration: .1s;
  }

  & .link-icon + .link-content,
  & .link-content + .link-icon {
    margin-left: 7px;
  }
}


//***********************
// COLOURS
//***********************
.link-color--secondary {
  color: var(--color-contrast-medium);

  &:hover {
    color: var(--color-contrast-higher);
  	text-decoration: none;
  }
}

.link-color--accent {
  color: var(--color-accent);

  &:hover {
    color: var(--color-accent-dark);
  	text-decoration: none;
  }
}



//***********************
// TYPE
//***********************
.link-type--url {
  display: flex;
  align-items: center;
  min-width: 0;
}

.link-type--decorated {
  color: inherit;
  font-weight: var(--text-weight-medium);
  text-decoration: underline;
  text-transform: inherit;
  display: inline-block;
  transition: color .1s var(--ease-in);

  &:hover {
  	text-decoration: none;
  }
}