.link {
  color: inherit;
  font-weight: var(--text-weight-medium);
	text-decoration: none;
  text-transform: none;
  display: inline-flex;
  align-items: center;

  &:hover, 
  &:focus, 
  &:active {
  	text-decoration: underline;
  }

  span:first-child {
    width: 16px;
    vertical-align: middle;
    transition-property: fill;
    transition-duration: .1s;
    margin-right: 7px;
  }
}


.text .link {
  color: var(--color-contrast-higher);
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}



.link--secondary {
  color: var(--color-contrast-medium);

  &:hover, 
  &:focus, 
  &:active {
    color: var(--color-contrast-higher);
  	text-decoration: none;
  }
}


.link--url {
  display: flex;
  align-items: center;
  min-width: 0;
}