.photo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  vertical-align: top;
}

.photo-container[style*="--aspect-ratio"] {
  position: relative;
}

.photo-container[style*="--aspect-ratio"]::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
  background: var(--color-contrast-lower);
}

//--------------------
// PHOTO CARD
//--------------------
.photoCard {
  position: relative;
  display: block;
}

// media part
.photoCard-top {
  position: relative;
  display: block;
}

.photoCard-media {
  position: relative;
  display: block;

  & > img {
    height: auto;
    width: 100%;
    max-width: 100%;
    object-fit: container;
    display: block;
  }
}

// bottom details
.photoCard-bottom {
  display: block;
  margin-top: 12px;
  position: relative;
}

.photoCard-bottom__container {
  display: grid;
  gap: 20px;
  grid-template-columns: auto minmax(0, -webkit-max-content);
  grid-template-columns: auto minmax(0, max-content);
  grid-template-areas: "left right";
  align-items: center;
  position: relative;
  pointer-events: none;
}

.photoCard-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  pointer-events: auto;
}

.photoCard-user__avatar {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.photoCard-buttons {
  pointer-events: auto;
  grid-area: right;
  justify-self: end;
  grid-auto-flow: column;
}


//--------------------
// PHOTO SHOW PAGE
//--------------------
.photoView-container {
  position: relative;
  display: block;
  width: 100%;
  max-width: var(--container-width-default);
  margin: 0 auto;
}

.photoView-media {
  position: relative;
  display: block;
  overflow: hidden;
}

.photoView-media > .photo-container {
  text-align: center;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;

  @include bp(sm) {
    max-width: calc((100vh - ((var(--nav-height) * 2) + (20px * 2))) * var(--aspect-ratio));
  }
}


// Sub navigation
.photoNav {
  position: sticky;
  top: var(--nav-height);
  display: block;
  z-index: 1;
}

.photoNav-container {
  height: var(--nav-height);
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-right: var(--space-nav-padding);
  padding-left: var(--space-nav-padding);
  background: var(--color-bg);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photoNav-left {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  padding-right: var(--space-container);
}

.photoNav-right {
  flex: none;
  display: flex;
  position: relative;
  padding-left: 12px;
}

.photoNav-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: -4px;
}

.photoNav-option {
  padding: 4px;
  flex: 0;
}

.photoView {
  position: relative;
  overflow: hidden;

  @include bp(sm) {
    padding: 20px var(--space-nav-padding);
  }
}

// Photo Description and Details
.photoAbout {
  position: relative;
  padding: 20px var(--space-nav-padding) 0;
}

.photoAbout-heading__share {
  padding-top: 12px;
  display: block;
  position: relative;
}

.photoAbout-shareOptions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -6px;

  & > li {
    padding: 6px;
  }
}

.photoAbout-description {
  padding-top: 36px;
  display: block;
  position: relative;
}

.photoAbout-details {
  padding-top: 36px;
  position: relative;
  list-style: none;
  margin: -6px 0;
}

.photoAbout-detail {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: none;
  padding: 6px 0;
}

.photoAbout-detail__icon {
  margin-right: 6px;
  color: var(--color-contrast-higher);
  font-size: var(--font-size-minor);
  line-height: var(--font-size-minor);
  width: 18px;
  text-align: center;
}

.photoAbout-detail__content {
  color: var(--color-contrast-higher);
  font-size: var(--font-size-minor);
  line-height: var(--line-height-minor);
  font-weight: var(--font-weight-medium);
}

.photoAbout-detail__content a {
  color: var(--color-contrast-higher);
  text-decoration: none;

  &:hover {
    color: var(--color-contrast-medium);
    text-decoration: none;
  }
}

// photo related
.photoRelated {
  position: relative;
}

// Heading
.photoHeading {
  padding: 72px 0 24px;
}



//--------------------
// NEW/EDIT PHOTO
//--------------------
.photoNew {
  position: relative;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(1, 1fr);

  @include bp(md) {
    grid-template-columns: repeat(3,[col-start] 1fr);
  }
}

.photoNew .photoNew-view {

  @include bp(md) {
    grid-column: col-start 1/span 2;
  }
}

.photoNew-details .input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.photoNew-details  .input + .input {
  margin-top: 24px;
}