.photo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  vertical-align: top;
}

.photo-container[style*="--aspect-ratio"] {
  position: relative;
}

.photo-container[style*="--aspect-ratio"]::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
  background: var(--color-contrast-lower);
}

//--------------------
// PHOTO CARD
//--------------------
.photoCard {
  position: relative;
  display: block;
}

.photoCard-media {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // flex: 1;

  & > img {
    width: 100%;
    max-width: 100%;
    background: var(--color-contrast-lower);
    object-fit: contain;
    display: block;
    height: auto;
  }
}

.photoCard-info {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .05s var(--ease-in),
              visibility .05s var(--ease-in),
              background .05s var(--ease-in);

  @include bp(md) {
    
  }
}

.photoCard:hover .photoCard-info {
  opacity: 1;
  visibility: visible;
  background: rgba(0,0,0,.55);
}

.photoCard-info__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  padding: 12px;
}

.photoCard-user {
  pointer-events: auto;
  position: relative;
  display: inline-block;
  min-width: 0;
  max-width: 100%;
}

.photoCard-link {
  text-transform: none;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.photoCard-link--name {
  color: var(--color-white);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  line-height: 1;

  &:hover {
    color: var(--color-white);
    text-decoration: none;
  }
}

.photoCard-link--user {
  color: var(--color-white-darker);
  font-size: var(--font-size-minor);
  font-weight: var(--font-weight-default);
  line-height: 1;

  &:hover {
    color: var(--color-white);
    text-decoration: none;
  }
}



//--------------------
// PHOTO SHOW PAGE
//--------------------
.photoView {
  position: relative;
  overflow: hidden;

  padding: 0 0 16px;

  @include bp(sm) {
    padding: 20px var(--space-page-padding);
  }
}

.photoView-container {
  position: relative;
  display: block;
  width: 100%;
  max-width: var(--container-width-default);
  margin: 0 auto;
}

.photoView-media {
  position: relative;
  display: block;
  overflow: hidden;
}

.photoView-media > .photo-container {
  text-align: center;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;

  @include bp(sm) {
    max-width: calc((100vh - ((var(--nav-height) * 2) + (20px * 3))) * var(--aspect-ratio));
  }
}

.photoNav {
  position: relative;
  display: block;
}

.photoNav-container {
  height: var(--nav-height);
  width: 100%;
  max-width: var(--container-width-default);
  padding-right: var(--space-nav-padding);
  padding-left: var(--space-nav-padding);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photoNav-left {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  padding-right: var(--space-container);
}

.photoNav-right {
  flex: none;
  display: flex;
  position: relative;
  padding-left: 12px;
}

.photoNav-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -4px;
}

.photoNav-option {
  padding: 4px;
  flex: 0;
}

// Photo Description and Details
.photoAbout {
  position: relative;
  padding: 20px 0 0;
}

.photoAbout-heading__share {
  padding-top: 12px;
  display: block;
  position: relative;
}

.photoAbout-shareOptions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: -6px;

  & > li {
    padding: 6px;
  }
}

.photoAbout-description {
  padding-top: 36px;
  display: block;
  position: relative;
}

.photoAbout-details {
  padding-top: 36px;
  position: relative;
  list-style: none;
}

.photoAbout-detail {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

// photo related
.photoRelated {
  position: relative;
  // border-top: 1px solid var(--color-border);
}

// Heading
.photoHeading {
  padding: 72px 0 24px;
}



//--------------------
// NEW/EDIT PHOTO
//--------------------
.photoNew {
  position: relative;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(1, 1fr);

  @include bp(md) {
    grid-template-columns: repeat(3,[col-start] 1fr);
  }
}

.photoNew .photoNew-view {

  @include bp(md) {
    grid-column: col-start 1/span 2;
  }
}

.photoNew-details .input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.photoNew-details  .input + .input {
  margin-top: 24px;
}