.photo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  vertical-align: top;
}

.photo-container[style*="--aspect-ratio"] {
  position: relative;
}

.photo-container[style*="--aspect-ratio"]::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}

//--------------------
// PHOTO CARD
//--------------------
.photoCard {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.photoCard-media {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  & > img {
    width: 100%;
    max-width: 100%;
    background: var(--color-contrast-lower);
    object-fit: contain;
    display: block;
    height: auto;
  }
}

.photoCard-info {
  display: block;
  position: relative;
  flex: none;
}

.photoCard-info__container {
  margin-top: 12px;
  padding: 0 var(--space-container);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include bp(sm) {
    padding: 0;
  }
}

.photoCard-grid {
  display: grid;
  gap: 8px;
  margin-top: auto;
  grid-template-columns: minmax(0,-webkit-min-content) auto;
  grid-template-columns: minmax(0,min-content) auto;
}

.photoCard-user {
  pointer-events: auto;
  position: relative;
  display: inline-block;
  min-width: 0;
  max-width: 100%;
}

.photoCard-link {
  text-transform: none;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.photoCard-link--name {
  color: var(--color-contrast-higher);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-body);

  &:hover {
    color: var(--color-contrast-higher);
    text-decoration: none;
  }
}

.photoCard-link--user {
  color: var(--color-contrast-medium);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-small);

  &:hover {
    color: var(--color-contrast-higher);
    text-decoration: none;
  }
}



//--------------------
// PHOTO SHOW PAGE
//--------------------
.photoView {
  position: relative;
  overflow: hidden;
}

.photoView-container {
  position: relative;
  display: block;
  width: 100%;
  max-width: var(--container-width-default);
  margin: 0 auto;
  padding: 0 0 16px;

  @include bp(sm) {
    padding: 20px var(--space-container);
  }
}

.photoView-media {
  position: relative;
  display: block;
  overflow: hidden;
}

.photoView-media > .photo-container {
  text-align: center;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: calc((100vh - ((var(--nav-height) * 2) + (20px * 3))) * var(--aspect-ratio));
}

.photoNav {
  position: relative;
  display: block;
}

.photoNav-container {
  height: var(--nav-height);
  width: 100%;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photoNav-left {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  padding-right: var(--space-container);
}

.photoNav-right {
  flex: none;
  display: flex;
  position: relative;
  margin: -4px;
}

.photoNav-action {
  padding: 4px;
}

// Photo Description and Details
.photoAbout {
  position: relative;
  padding: 20px 0 0;
}

.photoAbout-container {
  width: 100%;

  // @include bp(sm) {
  //   max-width: 700px;
  // }
}

.photoAbout-description {
  padding-top: 16px;
  display: block;
  position: relative;
}

.photoAbout-details {
  padding-top: 20px;
  position: relative;
  display: grid;
  grid-gap: var(--space-container);
  grid-template-columns: repeat(2, 1fr);

  @include bp(sm) {
    padding-top: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  @include bp(lg) {
    grid-template-columns: repeat(6,1fr);
  }
}

.photoAbout-detail {
  position: relative;
  display: block;
}

// photo related
.photoRelated {
  position: relative;
  // border-top: 1px solid var(--color-border);
}

// Heading
.photoHeading {
  padding: 72px 0 24px;
}



//--------------------
// NEW/EDIT PHOTO
//--------------------
.photoNew {
  position: relative;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(1, 1fr);

  @include bp(md) {
    grid-template-columns: repeat(3,[col-start] 1fr);
  }
}

.photoNew .photoNew-view {

  @include bp(md) {
    grid-column: col-start 1/span 2;
  }
}

.photoNew-details .input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.photoNew-details  .input + .input {
  margin-top: 24px;
}