//--------------------
// PHOTO CARD
//--------------------
.photoCard {
  position: relative;
  display: block;
}

.photoCard-media {
  position: relative;
  display: block;

  & > img {
    width: 100%;
    max-width: 100%;
    background: var(--color-contrast-lower);
    display: block;
    height: auto;
  }
}

.photoCard-info {
  display: block;
  position: relative;
}

.photoCard-info__container {
  margin-top: 12px;
  padding: 0 var(--space-container);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include bp(sm) {
    padding: 0;
  }
}

.photoCard-grid {
  display: grid;
  gap: 8px;
  margin-top: auto;
  grid-template-columns: minmax(0,-webkit-min-content) auto;
  grid-template-columns: minmax(0,min-content) auto;
}

.photoCard-user {
  pointer-events: auto;
  position: relative;
  display: inline-block;
  min-width: 0;
  max-width: 100%;
}

.photoCard-link {
  text-transform: none;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.photoCard-link--name {
  color: var(--color-contrast-higher);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-body);

  &:hover {
    color: var(--color-contrast-higher);
    text-decoration: none;
  }
}

.photoCard-link--user {
  color: var(--color-contrast-medium);
  font-size: var(--font-size-minor);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-minor);

  &:hover {
    color: var(--color-contrast-higher);
    text-decoration: none;
  }
}



//--------------------
// PHOTO SHOW PAGE
//--------------------
.photoView {
  position: relative;
  overflow: hidden;
}

.photoView-container {
  position: relative;
  display: block;
  width: 100%;
  max-width: var(--container-width-default);
  margin: 0 auto;
  padding: 0 0 16px;

  @include bp(sm) {
    padding: 20px var(--space-container);
  }
}

.photoView-media {
  text-align: center;
  display: block;
  overflow: hidden;

  & > img {
    width: 100%;
    vertical-align: top;
    object-fit: contain;

    @include bp(sm) {
      max-width: 100%;
      max-height: calc(100vh - ((var(--nav-height) * 2) + (20px * 3)));
    }
  }
}

.photoNav {
  position: relative;
  display: block;
}

.photoNav-container {
  height: var(--nav-height);
  width: 100%;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photoNav-left {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  padding-right: var(--space-container);
}

.photoNav-right {
  flex: none;
  display: flex;
  position: relative;
  margin: -4px;
}

.photoNav-action {
  padding: 4px;
}

// Photo Description and Details
.photoAbout {
  position: relative;
  padding: 20px 0 0;
}

.photoAbout-container {
  width: 100%;

  // @include bp(sm) {
  //   max-width: 700px;
  // }
}

.photoAbout-description {
  padding-top: 16px;
  display: block;
  position: relative;
}

.photoAbout-details {
  padding-top: 20px;
  position: relative;
  display: grid;
  grid-gap: var(--space-container);
  grid-template-columns: repeat(2, 1fr);

  @include bp(sm) {
    padding-top: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  @include bp(lg) {
    grid-template-columns: repeat(6,1fr);
  }
}

.photoAbout-detail {
  position: relative;
  display: block;
}

// photo related
.photoRelated {
  position: relative;
  // border-top: 1px solid var(--color-border);
}

// Heading
.photoHeading {
  padding: 72px 0 24px;
}



//--------------------
// NEW/EDIT PHOTO
//--------------------
.photoNew-form {
  position: relative;
  display: block;
  padding-top: 16px;
}

.photoNew-upload {
  position: relative;
  display: block;
  overflow: overflow;
}

.photoNew-background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100%;

  background: var(--color-contrast-lower);
  border-radius: var(--radius-default);
  border: .3rem dashed var(--color-border);

  & > img {
    position: relative;
    display: block;
    object-fit: contain;
    height: 100%;
    width: auto;
  }
}

// input.uppy-FileInput-input[type="file"] {
//   width: auto !important;
//   height: auto !important;
//   opacity: 1 !important;
//   overflow: visible !important;
//   position: relative !important;
//   z-index: 1 !important;
//   appearance: none !important;
// }