//--------------------
// PHOTO CARD
//--------------------
.photoCard {
  position: relative;
  display: block;
}

.photoCard-media {
  position: relative;
  display: block;

  & > img {
    width: 100%;
    max-width: 100%;
    background: var(--color-contrast-lower);
    display: block;
    height: auto;
  }

  & > div {
    height: 30vh;
    width: 100%;
    background: var(--color-contrast-lower);
    display: block;
  }
}

.photoCard-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--space-xs);
  padding-right: var(--space-container);
  padding-left: var(--space-container);

  @include bp(sm) {
    padding-right: 0;
    padding-left: 0;
  }
}

.photoCard-info-heading {
  display: flex;
  align-items: center;
  min-width: 0;

  & .link {
    font-size: var(--font-size-body);
  }
}

.photoCard-info-action {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

// Card actions
.photoCard-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: calc(var(--space-xxxs) * (-1));
  position: relative;

  &--item {
    flex: none;
  }
}

.photoCard-action {
  color: var(--color-contrast-medium);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  text-decoration: none;
  text-transform: none;
  padding: var(--space-xxxs);
  display: inline-block;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-contrast-higher);
  }
}

.photoCard-action-dislike {
  color: var(--color-red);
}


//--------------------
// PHOTO SHOW PAGE
//--------------------
.photoView {
  position: relative;
  overflow: hidden;
}

.photoView-container {
  position: relative;
  display: block;
  width: 100%;
  max-width: var(--container-width-default);
  margin: 0 auto;
  padding: 0 0 16px;

  @include bp(sm) {
    padding: 20px var(--space-container);
  }
}

.photoView-media {
  text-align: center;
  display: block;
  overflow: hidden;

  & > img {
    width: 100%;
    vertical-align: top;
    object-fit: contain;

    @include bp(sm) {
      max-width: 100%;
      max-height: calc(100vh - ((var(--nav-height) * 2) + (20px * 3)));
    }
  }
}

.photoNav {
  position: relative;
  display: block;
}

.photoNav-container {
  height: var(--nav-height);
  width: 100%;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photoNav-left {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  padding-right: var(--space-container);
}

.photoNav-right {
  flex: none;
  display: flex;
  position: relative;
  margin: -4px;
}

.photoNav-action {
  padding: 4px;
}

// Photo Description and Details
.photoAbout {
  position: relative;
  padding: 20px 0 0;
}

.photoAbout-container {
  width: 100%;

  @include bp(sm) {
    max-width: 700px;
  }
}

.photoAbout-description {
  padding-top: 16px;
  display: block;
  position: relative;
}

.photoAbout-details {
  padding-top: 16px;
  position: relative;
}

.photoAbout-detail {
  position: relative;
  display: block;

  &__icon {
    display: inline-block;
    width: 20px;
    padding-right: 4px;
  }

  & + & {
    padding-top: 8px;
  }
}

// photo related
.photoRelated {
  position: relative;
}

// Heading
.photoHeading {
  padding: 72px 0 24px;
}