.section {
  position: relative;
  display: block;
}


//***************
// PADDING
//***************
.section-padding-top {
  padding-top: 48px;
}

.section-padding-bottom {
  padding-bottom: 48px;
}