.tags {
  margin-bottom: -8px;
  margin-left: -8px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.tag-container {
  padding-left: 8px;
  padding-bottom: 8px;
}

.tag {
  position: relative;
  display: inline-block;
  color: var(--color-contrast-higher);
  font-size: var(--font-size-body);
  line-height: 26px;
  background: var(--color-contrast-lower);
  border: 0;
  border-radius: var(--radius-default);
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
}