.tags {
  margin-bottom: -8px;
  margin-left: -8px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.tags .tag-container {
  padding-left: 8px;
  padding-bottom: 8px;
}

.tags .tag {
  position: relative;
  display: inline-block;
  color: var(--color-contrast-higher);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-medium);
  line-height: 26px;
  background: var(--color-contrast-lower);
  border: 0;
  border-radius: var(--radius-default);
  text-decoration: none;
  // padding-left: 16px;
  padding: 0px 16px;

  &:hover {
    color: var(--color-contrast-higher);
    background: var(--color-contrast-low);
  }
}
