//----------------------
// SECTION - PANEL
//----------------------
.user-panel {
  padding-top: 16px;
  padding-bottom: 24px;
  position: relative;
  display: block;

  @include bp(sm) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  // @include bp(lg) {
  //   padding-top: 68px;
  //   padding-bottom: 68px;
  // }
}

.user {
  width: 100%;
  max-width: 900px;
  // margin: 0 auto;
  position: relative;
  display: block;
  
  @include bp(sm) {
    display: flex;
    align-items: flex-start;
    width: auto;
  }
}


// user partial avatar container
.user-avatar {
  flex: none;
  height: 120px;
  width: 120px;
  overflow: hidden;
  border-radius: var(--radius-rounded);
  margin-bottom: var(--space-2);
  position: relative;
  
  @include bp(sm) {
    height: 180px;
    width: 180px;
    margin-bottom: 0;
    margin-right: var(--space-3);
  }

  @include bp(lg) {
    height: 200px;
    width: 200px;
  }
}


// user partial body
.user-body {
  flex: 1;
}

.user-body__name {
  display: flex;
  align-items: center;
}

.user-body__actions {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: var(--space-2);
  display: flex;
  flex-direction: column;
  text-align: right;

  @include bp(sm) {
    flex-direction: row;
    position: relative;
    text-align: left;
  }

  & .user-body__action {
    flex: none;
  }

  & .user-body__action + .user-body__action {
    margin-top: var(--space-2);

    @include bp(sm) {
      margin-top: 0;
      margin-left: var(--space-2);
    }
  }
}

.user-body__about {
  padding-top: 16px;

  @include bp(sm) {
    padding-top: 24px;
  }
}

.user-body__details {
  display: flex;
  flex-direction: column;
  word-break: break-all;
  margin-bottom: -8px;
  margin-left: -24px;
  padding-top: 16px;

  & .user-body__detail {
    padding-bottom: 8px;
    padding-left: 24px;
    min-width: 0;
  }
}



//------------------
// USER TABS -> SHOW PAGE
//------------------
.user-tabs {
  position: sticky;
  top: 0;
  left: 0;
  background: var(--color-bg);
  margin-bottom: 24px;
  border-top: 1px solid var(--color-border);
  box-shadow: inset 0 -1px var(--color-border);
  z-index: var(--zindex-user-tabs);
}

.user-tabs__container {
  width: 100%;
  margin-left: -28px;
  margin-right: -28px;
  display: flex;
  align-items: center;
}

.user-tab {
  padding-left: 16px;
  height: var(--nav-height);
  position: relative;

  @include bp(sm) {
    padding-left: 28px;
  }
}

.user-tab-link {
  color: var(--color-contrast-medium);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-body);
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 100%;

  &:hover,
  &:focus {
    color: var(--color-contrast-higher);
  }

  &.active {
    color: var(--color-contrast-higher);
    box-shadow: inset 0 -2px var(--color-contrast-higher);
  }

  & > span + span {
    margin-left: 8px;
  }
}

.user-tab-link__icon,
.user-tab-link__count {
  display: none;
  font-weight: var(--font-weight-regular);

  @include bp(sm) {
    display: block;
  }
}



//------------------
// USER MINI PROFILE
//------------------
.userMini {
  position: relative;
  display: flex;
  align-items: center;
}

.userMini-avatar {
  height: 32px;
  width: 32px;
  margin-right: 8px;
  border-radius: var(--radius-rounded);
  position: relative;
  display: block;
  flex: none;
}

.userMini-profile {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.userMini-name,
.userMini-username {
  text-decoration: none;
  text-transform: none;
  appearance: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.userMini-name {
  color: var(--color-contrast-higher);
  font-size: var(--font-size-body);
  line-height: 1.25;
  font-weight: var(--font-weight-medium);
}

.userMini-username {
  color: var(--color-contrast-medium);
  font-size: var(--font-size-minor);
  line-height: 1.25;
  font-weight: var(--font-weight-regular);

  &:hover {
    color: var(--color-contrast-higher);
  }
}