/*
 *= require_self
 */

// FontAwesome
@import "font-awesome-sprockets";
@import "font-awesome";

// Base
@import '0-base/mixins';
@import '0-base/breakpoints';
@import '0-base/colors';
@import '0-base/shared';
@import '0-base/spacing';
@import '0-base/typography';
@import '0-base/z-index';


// Generic
@import '1-generic/*';

// Elements
@import '2-elements/*';

// Objects
@import '3-objects/*';

// Components
@import '4-components/*';

// Trumps
// @import '5-trumps/*';