:root, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //---------------------
  // ELEMENTS
  //---------------------
  --color-border-default: hsla(0,0%,60%,.42);
  --color-border-dark: hsla(0,0%,60%,.72);

  --color-navbar: #151516;


  //---------------------
  // MAIN COLORS
  //---------------------
  --color-primary-ligher: #f6f5f3;
  --color-primary-light: #eae8e4;
  --color-primary: #daa447;
  --color-primary-dark: #c78c26;
  --color-primary-darker: #6f4908;

  --color-accent: #e9eaeb;
  --color-accent-dark: #735e55;
  --color-accent-darker: #504039;

  --color-white-darker: #f1f1f1;
  --color-white-dark: #f9f9f9;
  --color-white: #ffffff;
  --color-black: #18191b;
  --color-black-light: #283339;
  --color-black-lighter: #959595;

  --color-red: #ff6766;

  --color-bg: #ffffff;
  --color-contrast-lower: #f5f5f5;
  --color-contrast-low: #f1f1f1;
  --color-contrast-medium: #959595;
  --color-contrast-high: #283339;
  --color-contrast-higher: #18191b;


  //---------------------
  // BORDER COLOR
  //---------------------
  --color-border: #eae8e4;
  --color-border-dark: var(--color-primary);
}