:root, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  //---------------------
  // MAIN COLORS
  //---------------------
  --color-primary-ligher: #555555;
  --color-primary-light: #333333;
  --color-primary: #333333;
  --color-primary-dark: #222222;
  --color-primary-darker: #000000;
  
  --color-accent: #ae995a;
  --color-accent-dark: #a78f47;

  --color-white-darker: #f3f3f3;
  --color-white-dark: #f6f6f6;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-light: #272727;
  --color-black-lighter: #191a1c;

  --color-red-lighter: #fff2f6;
  --color-red-light: #f9dde6;
  --color-red: #e1255e;
  --color-red-dark: #d21f59;
  --color-red-darker: #a50438;

  --color-blue: #0c02ff;
  --color-blue-dark: #00c;

  --color-bg: #ffffff;
  --color-contrast-lower: #f6f6f6;
  --color-contrast-low: #f2f2f2;
  --color-contrast-medium: #767676;
  --color-contrast-high: #333333;
  --color-contrast-higher: #000000;


  //---------------------
  // COMMUNICATION
  //---------------------
  --color-warning: var(--color-red);


  //---------------------
  // ELEMENTS
  //---------------------
  --color-border-default: #aaa;
  --color-border-dark: var(--color-contrast-higher);
}


//----------------------------------------------------------------
// DARK MODE
//----------------------------------------------------------------
@supports(--css: variables) {
  body {
    @media (prefers-color-scheme: dark) {
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;

      //---------------------
      // BORDER COLOR
      //---------------------
      --color-border-default: #555555;
      --color-border-dark: #888888;

      --color-navbar: #151516;


      //---------------------
      // MAIN COLORS
      //---------------------
      --color-primary-ligher: #555555;
      --color-primary-light: #333333;
      --color-primary: #333333;
      --color-primary-dark: #222222;
      --color-primary-darker: #111111;
      
      --color-accent: #ae995a;
      --color-accent-dark: #a78f47;

      --color-white-darker: #f3f3f3;
      --color-white-dark: #f6f6f6;
      --color-white: #ffffff;
      --color-black: #121212;
      --color-black-light: #272727;
      --color-black-lighter: #393939;

      --color-red: #ff6766;
      --color-red-dark: #ea5150;

      --color-blue: #0c02ff;
      --color-blue-dark: #00c;

      --color-bg: #090909;
      --color-contrast-lower: #121212;
      --color-contrast-low: #252525;
      --color-contrast-medium: rgba(255,255,255,0.7);
      --color-contrast-high: rgba(255,255,255,0.7);
      --color-contrast-higher: rgba(255,255,255,1);


      //---------------------
      // COMMUNICATION
      //---------------------
      --color-warning: var(--color-red);


      //---------------------
      // BORDER COLOR
      //---------------------
      --color-border: #eae8e4;
      --color-border-dark: var(--color-contrast-higher);
    }
  }
}