:root, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //---------------------
  // ELEMENTS
  //---------------------
  --color-border-default: hsla(0,0%,60%,.42);
  --color-border-dark: hsla(0,0%,60%,.72);

  --color-navbar: #151516;


  //---------------------
  // MAIN COLORS
  //---------------------
  --color-primary-ligher: #555555;
  --color-primary-light: #333333;
  --color-primary: #000000;
  
  --color-accent: #3047ec;
  --color-accent-dark: #0b1da2;
  --color-accent-darker: #00073c;

  --color-white-darker: #777777;
  --color-white-dark: #999999;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-light: #333333;
  --color-black-lighter: #555555;

  --color-red: #ff6766;
  --color-red-dark: #ea5150;

  --color-bg: #ffffff;
  --color-contrast-lower: #f3f3f3;
  --color-contrast-low: #777777;
  --color-contrast-medium: #555555;
  --color-contrast-high: #333333;
  --color-contrast-higher: #000000;


  //---------------------
  // COMMUNICATION
  //---------------------
  --color-warning: var(--color-red);


  //---------------------
  // BORDER COLOR
  //---------------------
  --color-border: #eae8e4;
  --color-border-dark: var(--color-contrast-higher);
}