:root, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //---------------------
  // ELEMENTS
  //---------------------
  --color-border-default: #e7e7e7;
  --color-border-dark: hsla(0,0%,60%,.72);


  //---------------------
  // MAIN COLORS
  //---------------------
  --color-primary-ligher: #555555;
  --color-primary-light: #333333;
  --color-primary: #333333;
  --color-primary-dark: #222222;
  --color-primary-darker: #111111;
  
  --color-accent-ligher: #eef3fe;
  --color-accent-light: #9cc0ff;
  --color-accent: #276ef1;
  --color-accent-dark: #1d53b7;
  --color-accent-darker: #05194d;

  --color-white-darker: #f3f3f3;
  --color-white-dark: #f6f6f6;
  --color-white: #ffffff;
  --color-black: #0e0e0e;
  --color-black-light: #272727;
  --color-black-lighter: #393939;

  --color-red-lighter: #fff2f6;
  --color-red-light: #f9dde6;
  --color-red: #e1255e;
  --color-red-dark: #d21f59;
  --color-red-darker: #a50438;

  --color-bg: #ffffff;
  --color-contrast-lower: #f6f6f6;
  --color-contrast-low: #f2f2f2;
  --color-contrast-medium: #6e6e6e;
  --color-contrast-high: #252525;
  --color-contrast-higher: #0e0e0e;


  //---------------------
  // COMMUNICATION
  //---------------------
  --color-warning: var(--color-red);


  //---------------------
  // BORDER COLOR
  //---------------------
  --color-border: #eae8e4;
  --color-border-dark: var(--color-contrast-higher);
}


//----------------------------------------------------------------
// DARK MODE
//----------------------------------------------------------------
@supports(--css: variables) {
  body {
    @media (prefers-color-scheme: dark) {
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;

      //---------------------
      // BORDER COLOR
      //---------------------
      --color-border-default: #555555;
      --color-border-dark: #888888;

      --color-navbar: #151516;


      //---------------------
      // MAIN COLORS
      //---------------------
      --color-primary-ligher: #555555;
      --color-primary-light: #333333;
      --color-primary: #333333;
      --color-primary-dark: #222222;
      --color-primary-darker: #111111;
      
      --color-accent: #ffb500;
      --color-accent-dark: #c58d03;
      --color-accent-darker: #9c730c;

      --color-white-darker: #f3f3f3;
      --color-white-dark: #f6f6f6;
      --color-white: #ffffff;
      --color-black: #1a1a1a;
      --color-black-light: #272727;
      --color-black-lighter: #393939;

      --color-red: #ff6766;
      --color-red-dark: #ea5150;

      --color-bg: #0e0e0e;
      --color-contrast-lower: #161616;
      --color-contrast-low: #1a1a1a;
      --color-contrast-medium: rgba(255,255,255,0.7);
      --color-contrast-high: rgba(255,255,255,0.7);
      --color-contrast-higher: rgba(255,255,255,1);


      //---------------------
      // COMMUNICATION
      //---------------------
      --color-warning: var(--color-red);


      //---------------------
      // BORDER COLOR
      //---------------------
      --color-border: #eae8e4;
      --color-border-dark: var(--color-contrast-higher);
    }
  }
}