:root, * {
  --space-1: 4px;
  --space-2: 12px;
  --space-3: 36px;
  --space-4: 72px;

  // Page padding
  --space-page-padding: 12px;

  @include bp(sm) {
    --space-page-padding: 32px;
  }

  @include bp(lg) {
    --space-page-padding: 72px;
  }
}