:root {
  --space-unit: 1em;
}

:root, * {
  --space-1: 4px;
  --space-2: 12px;
  --space-3: 36px;
  --space-4: 72px;

  --space-container: 12px;

  @include bp(md) {
    --space-container: 30px;
  }
}