:root, * {
  --space-1: 4px;
  --space-2: 12px;
  --space-3: 36px;
  --space-4: 72px;

  // Page padding
  --space-page-padding: 12px;

  // Elements
  --space-nav-padding: 12px;

  @include bp(sm) {
    --space-page-padding: 24px;
    --space-nav-padding: 24px;
  }

  @include bp(xl) {
    --space-page-padding: 48px
  }
}