:root {
  // font family
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  // font size
  --text-base-size: 14px; // body font-size
}


:root, * {
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 500;

  --font-size-minor: 12px;
  --font-size-small: 14px;
  --font-size-body: 15px;
  --font-size-large: 16px;

  --link-height-minor: 1.5;
  --line-height-small: 1.44;
  --line-height-body: 1.6;
  --line-height-large: 1.6;

  --font-size-h1: 46px;
  --font-size-h2: 28px;
  --font-size-h3: 21px;
  --font-size-h4: 18px;
  --font-size-h5: 16px;
  --font-size-h6: 14px;
  
  --line-height-h1: 1.2;
  --line-height-h2: 1.25;
  --line-height-h3: 1.2;
  --line-height-h4: 1.34;
  --line-height-h5: 1.3;
  --line-height-h6: 1.34;

  --letter-spacing-h1: 0;
  --letter-spacing-h2: 0;
  --letter-spacing-h3: 0;
  --letter-spacing-h4: 0;
  --letter-spacing-h5: 0;
  --letter-spacing-h6: 0;

  --font-weight-h1: var(--font-weight-bold);
  --font-weight-h2: var(--font-weight-bold);
  --font-weight-h3: var(--font-weight-bold);
  --font-weight-h4: var(--font-weight-bold);
  --font-weight-h5: var(--font-weight-medium);
  --font-weight-h6: var(--font-weight-medium);


  @include bp(md) {
    --font-size-large: 18px;
    
    --line-height-h1: 1.1;
    --line-height-h2: 1.2;
    --line-height-h3: 1.2;
    --line-height-h4: 1.34;
    --line-height-h5: 1.3;
    --line-height-h6: 1.3;

    --font-size-h1: 72px;
    --font-size-h2: 46px;
    --font-size-h3: 28px;
    --font-size-h4: 18px;
    --font-size-h5: 16px;
    --font-size-h6: 14px;
  }
}

@supports(--css: variables) {
}

body {
  font-family: var(--font-primary);
}

h1, h2, h3, h4 {
  font-family: var(--font-primary);
  font-weight: 700;
}

// font family
.font-primary { font-family: var(--font-primary); }