:root {
  --zindex-app: 1;
  --zindex-curtain: 200;
  --zindex-dropdown: 10;

  // navbar
  --zindex-nav: 300;
  --zindex-nav-curtain: 400;
  --zindex-nav-search: 500;

  // search
  --zindex-search: 1;

  // photos
  --zindex-photo-user: 1;

  // users
  --zindex-user-tabs: 1;
}